@import 'styles/design-system.scss';


.dbr-option-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.dbr-option-list-item {
    border-radius: 2* $spacing;
    background-color: $grayColor;
    padding: $spacing 2*$spacing;
    margin: $spacing;
    font-weight: bold;
    cursor: pointer;

    &.active {
        background-color: $primaryColor;
        color: $darkTextColor;
    }
}